<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnWarning="false"
         processIsolation="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertDeprecationsToExceptions="true"
         verbose="true">
    <testsuites>
        <testsuite name="ShareButtons Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage ignoreDeprecatedCodeUnits="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Facades/ShareButtonsFacade.php</file>
            <file>src/Providers/ShareButtonsServiceProvider.php</file>
        </exclude>
        <report>
            <clover outputFile="build/clover.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
        </report>
    </coverage>
    <php>
        <env name="APP_URL" value="https://mysite.com"/>
    </php>
</phpunit>
